{{ define "main" }}

<div class="post container">

    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
    </div>

    <div class="post-content">
        {{ .Content }}
    </div>
</div>

{{ end }}