.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 1em;
}

.card-simple {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgb(66, 66, 66);
    transition: 0.3s;
    border-radius: 5px;
    font-size: smaller;
}
  
/* On mouse-over, add a deeper shadow */
.card-simple:hover {
    box-shadow: 0 8px 16px 0 rgb(66, 66, 66);
}
  
/* Add some padding inside the card container */
.card-container {
    padding: 10px;
    margin: 10px;
}


.tags-list-compact {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.tags-list-compact .tag-compact {
    text-decoration: none;
    font-size: smaller;
}

span.email b {
    display: none;
}