<!-- shortcode to obfuscate email (credits: https://henkverlinde.com/blog/email-obfuscation/) -->
{{- $address := index .Params 0 }}
{{- $addressParts := split $address "@" }}
{{- $userName := (index $addressParts 0) }}
{{- $rootDomain := (index $addressParts 1) }}
{{- $rootDomainParts := split $rootDomain "." }}
{{- $domainName := (index $rootDomainParts 0) }}
{{- $topLevelDomain := (index $rootDomainParts 1) }}

<span class="email">
    {{- printf "%s<b>fckspammers</b>@<b>noads.</b>%s.%s" $userName $domainName $topLevelDomain | safeHTML -}}
</span>